/custom.el
/elpa/
/.cache/
/.org-id-locations
/Downloading
/auto-save-list/
/backups/
/bookmarks
/eshell/
/forge-database.sqlite
/history
/org-persist/
/places
/projects
/recentf
/tramp
/transient/
/url/
/autosaves/
